<mat-card>
<h1>Cadastrar Caracteristica</h1>

<form [formGroup]="qualityCharacteristicForm" #formDit="ngForm">
    <div class="input_box">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Nome da Caracteristica!" required>
          </mat-form-field>
    </div>

    <div class="input_box">
        <mat-form-field>
            <mat-label>Descrição:</mat-label>
            <input matInput type="text" formControlName="description" placeholder="Descrição da Caracteristica!" required>
          </mat-form-field>
    </div>

    <div class="input_box">
        <mat-form-field>
        <mat-label>Tipo de Caracteristica:</mat-label>
        <mat-select id="type" formControlName="type" required>
            <mat-option [value]="0">0</mat-option>
            <mat-option [value]="1">1</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="input_box">
        <mat-form-field>
            <mat-label>Limite Inferior:</mat-label>
            <input matInput type="number" step="0.01" formControlName="inferiorLimit" placeholder="Limite inferior" required>
        </mat-form-field>
    </div>

    <div class="input_box">
        <mat-form-field>
            <mat-label>Limite Superior:</mat-label>
            <input matInput type="number" step="0.01" formControlName="superiorLimit" placeholder="Limite superior" required>
        </mat-form-field>
    </div>

    <div class="btn-box">
        <button type="submit" [disabled]="!qualityCharacteristicForm.valid" (click)="submit()" mat-raised-button color="primary">Cadastrar</button>
        <button (click)="backToCharacteristics()" mat-raised-button>Voltar</button>
    </div>
</form>
</mat-card>