<mat-card>
<div>
    <button (click)="navigateToNewBatch()" mat-button>Cadastrar novo lote</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Material</th>
            <th>Quantidade (KG)</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let batch of batches">
        <tr>
            <td>{{batch.id}} </td>
            <td>{{ getMaterialName(batch.materialId) }}</td>
            <td>{{batch.amount}}</td>
            <td>{{batch.status}}</td>
            <td>
                <button routerLink="/launch-test/{{batch.id}}" mat-raised-button color="accent">Lançar Ensaio</button>
            </td>
            <td>
                <button (click)="deleteBatch(batch.id!)" mat-raised-button color="warn">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <button routerLink="" mat-raised-button>Voltar</button>
</div>
</mat-card>